name: Infra Workflow

on:
  push:
    branches:
      - "main"
jobs:
  build:
    runs-on: ubuntu-latest

    env:
      TF_BACKEND_HTTP_ENCRYPTION_PASSPHRASE: ${{ secrets.TF_BACKEND_HTTP_ENCRYPTION_PASSPHRASE }}
      TF_BACKEND_HTTP_ENCRYPTION_PROVIDER: ${{ secrets.TF_BACKEND_HTTP_ENCRYPTION_PROVIDER }}
      ANYPOINT_CLIENT_ID: ${{ secrets.ANYPOINT_CLIENT_ID }}
      ANYPOINT_CLIENT_SECRET: ${{ secrets.ANYPOINT_CLIENT_SECRET }}

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v3

      - name: Setup terraform-backend-git
        uses: plumber-cd/setup-terraform-backend-git@v1
        with:
          version:
            0.1.2
      - name: Use terraform-backend-git
        run: terraform-backend-git version

      - name: Init
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
          GIT_USERNAME: ${{ secrets.GIT_USERNAME }}
        run: terraform-backend-git git terraform init

      - name: plan
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
        run: terraform-backend-git --access-logs git terraform --detailed-exitcode plan
