name: Infra Workflow

on:
  push:
    branches:
      - "main"
jobs:
  build:
    runs-on: ubuntu-latest

    env:
      # TF_BACKEND_HTTP_ENCRYPTION_PASSPHRASE: ${{ secrets.TF_BACKEND_HTTP_ENCRYPTION_PASSPHRASE }}
      TF_BACKEND_HTTP_ENCRYPTION_PROVIDER: sops
      TF_BACKEND_HTTP_SOPS_PGP_FP: ${{ secrets.TF_BACKEND_HTTP_SOPS_PGP_FP }}
      ANYPOINT_USERNAME: ${{ secrets.ANYPOINT_USERNAME }}
      ANYPOINT_PASSWORD: ${{ secrets.ANYPOINT_PASSWORD }}
      # TF_BACKEND_HTTP_SOPS_SHAMIR_THRESHOLD: 1
      # TF_VAR_org_id: ${{ secrets.ORG_ID }}

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v3

      - name: Setup terraform-backend-git
        uses: plumber-cd/setup-terraform-backend-git@v1
        with:
          version:
            0.1.2
      - name: Use terraform-backend-git
        run: terraform-backend-git version

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}

      - name: Init
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
          GIT_USERNAME: ${{ secrets.GIT_USERNAME }}
        run: terraform-backend-git git terraform init -input=false

      - name: plan
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
          GIT_USERNAME: ${{ secrets.GIT_USERNAME }}
        run: terraform-backend-git --access-logs git terraform plan -out=plan.out

      - name: apply
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
          GIT_USERNAME: ${{ secrets.GIT_USERNAME }}
        run: terraform-backend-git --access-logs git terraform apply --auto-approve
