name: Infra Workflow

on:
  push:
    branches:
      - "main"

jobs:
  Apply:
    runs-on: ubuntu-latest

    env:
      TF_BACKEND_HTTP_ENCRYPTION_PROVIDER: sops
      TF_BACKEND_HTTP_SOPS_PGP_FP: ${{ secrets.TF_BACKEND_HTTP_SOPS_PGP_FP }}
      ANYPOINT_USERNAME: ${{ secrets.ANYPOINT_USERNAME }}
      ANYPOINT_PASSWORD: ${{ secrets.ANYPOINT_PASSWORD }}

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v3

      - name: Setup terraform-backend-git
        uses: plumber-cd/setup-terraform-backend-git@v1
        with:
          version:
            0.1.2

      - name: Use terraform-backend-git
        run: terraform-backend-git version

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}

      - name: import ssh keys
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Init
        # env:
        #   SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: terraform-backend-git git terraform init -input=false

      - name: apply
        # env:
        #   SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: terraform-backend-git git terraform apply -auto-approve -input=false
